-
  const dataBanner = {
    img: {
      path: "content",
      name: "banner",
      nameMob: "banner-mobile",
      format: "png",
      width: 738,
      height: 330,
      altText: "Изображение книг",
    },
    description: "Реклама на <a href='#' class='link' target='_blank' rel='nofollow noopener noreferrer'>blabla.com</a>",
  }
