-
  const dataSlider = {
    title: "Похожие посты",
    slides: [
      {
        href: "#",
        img: {
          path: "content",
          name: "react-logo",
          format: "png",
          width: 226,
          height: 226,
          altText: "Лого React",
        },
        date: "12 декабря",
        description: "События жизненного цикла ReactJS"
      },
      {
        href: "#",
        img: {
          path: "content",
          name: "grid-logo",
          format: "png",
          width: 226,
          height: 226,
          altText: "Лого grid-layout",
        },
        date: "10 декабря",
        description: "CSS Grids. Полное руководство"
      },
      {
        href: "#",
        img: {
          path: "content",
          name: "js-logo",
          format: "png",
          width: 226,
          height: 226,
          altText: "Лого grid-layout",
        },
        date: "5 декабря",
        description: "Асинхронность в&nbsp;JavaScript"
      },
    ]
  }
