-
  const dataBlockqoute = {
    hr: true,
    title: "Серверный JavaScript",
    blockqoute: {
      text: "Разработчики и&nbsp;клиенты часто неправильно понимают, что такое система. Они видят графический интерфейс и&nbsp;думают, что он&nbsp;и&nbsp;есть система. Они определяют систему в&nbsp;терминах графического интерфейса и&nbsp;считают, что должны сразу начать работу с&nbsp;графическим интерфейсом. Они не&nbsp;понимают важнейшего принципа: ввод/вывод не&nbsp;важен.",
      author: "&mdash;&nbsp;Р. Мартин"
    }
  }
