-
  const dataHero = {
    title: "Путь JavaScript",
    img: {
      path: "content",
      name: "books",
      format: "png",
      width: 738,
      height: 330,
      altText: "Изображение книг",
    },
    description: "Можно выделить три основных направления для прогресса JavaScript",
    dateText: {
      date: "12",
      text: "Апреля"
    }
  }
