-
  const dataHeader = {
    menu: [
      {
        title: "Статьи",
        submenu: [
          {
            text: "Статьи Pro",
            href: "#"
          },
          {
            text: "Статьи для новичков",
            href: "#"
          },
          {
            text: "Статьи ниндзя",
            href: "#"
          }
        ]
      },
      {
        title: "Курсы",
        submenu: [
          {
            text: "JavaScript Pro",
            href: "#"
          },
          {
            text: "JavaScript для новичков",
            href: "#"
          },
          {
            text: "JavaScript ниндзя",
            href: "#"
          }
        ]
      },
      {
        title: "Новости",
        link: "#"
      },
      {
        title: "О&nbsp;нас",
        link: "#"
      }
    ],
    mobileBtn: "",
    startBtn: {
      title: "Начать&nbsp;учиться"
    }
  }

