-
  const dataRating = {
    title: "Оцените статью",
    radio: [
      {
        inputLabel: "Рейтинг: 1",
        inputId: "radio-rating-1",
        inputName: "data[radio-rating]",
        inputValue: "1",
        iconName: "icon-star",
        iconWidth: 27,
        iconHeight: 27
      },
      {
        inputLabel: "Рейтинг: 2",
        inputId: "radio-rating-2",
        inputName: "data[radio-rating]",
        inputValue: "2",
        iconName: "icon-star",
        iconWidth: 27,
        iconHeight: 27
      },
      {
        inputLabel: "Рейтинг: 3",
        inputId: "radio-rating-3",
        inputName: "data[radio-rating]",
        inputValue: "3",
        iconName: "icon-star",
        iconWidth: 27,
        iconHeight: 27
      },
      {
        inputLabel: "Рейтинг: 4",
        inputId: "radio-rating-4",
        inputName: "data[radio-rating]",
        inputValue: "4",
        iconName: "icon-star",
        iconWidth: 27,
        iconHeight: 27
      },
      {
        inputLabel: "Рейтинг: 5",
        inputId: "radio-rating-5",
        inputName: "data[radio-rating]",
        inputValue: "5",
        iconName: "icon-star",
        iconWidth: 27,
        iconHeight: 27,
        isChecked: true
      },
    ]
  }
