@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin has-hover {
  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover:not(.focus-visible),
    &.focus-visible:focus {
      @content;
    }
  }
}

// Desktop first

@mixin vp-767 {
  @media (max-width: $vp-768 - 1) {
    @content;
  }
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}

@mixin reset-block {
  padding: 0;
  margin: 0;
}

@mixin pseudo {
  content: "";
  display: block;
  position: absolute;
}

@mixin custom-input-and-textarea($child) {
  $root: &;
  width: 100%;

  label {
    position: relative;
    display: flex;
  }

  #{$root}__label {
    position: absolute;
    font-size: 9px;
    font-weight: 500;
    line-height: 14px;
    left: 15px;
    top: 3px;
    color: $color-boulder;
    transition: all $trans-default;
  }

  #{$child} {
    font-family: $ff-onest;
    width: 100%;
    border: 1px solid $color-medium-grey-2;
    border-radius: 10px;
    background-color: $color-default-white;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    color: $color-font;
    outline: none;
    transition: border $trans-default;

    @include has-hover {
      border-color: $color-main-blue;
    }

    &:placeholder-shown + #{$root}__label {
      left: 15px;
      top: 17px;
      font-size: 14px;
      line-height: 15px;
    }

    &:focus + #{$root}__label {
      font-size: 9px;
      font-weight: 500;
      line-height: 14px;
      left: 15px;
      top: 3px;
    }

    &:focus {
      border-color: $color-main-blue;
    }
  }
}
